html
  head
    title= nodeSpawner
  body
    h1= 'nodeSpawner'
    div='Status: ' + status
    div
      form(action='/api/docker', method='post')
        input(type='submit', value='Create and run new container')
      form(action='/api/docker', method='get')
        input(type='submit', value='Check existing container')