html
  head
    title= nodeSpawner
  body
    h1= 'nodeSpawner'
    div='Status: ' + status
    div
      form(action='/api/docker', method='post')
        input(type='text', value='number of instances')
        input(type='submit', value='Create Docker instances')
      form(action='/api/docker', method='get')
        input(type='submit', value='Check Container')